@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.bg-image {
  max-height: max-content;
  min-height: 100vh;
  object-position: center;
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  background-size: contain;
  scroll-snap-align: center;
}

/* PAGINATIONS */
ul,
.react-paginate-custome {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
}
.react-paginate-custome li {
  font-weight: 500;
  letter-spacing: 0.06rem;
  font-style: italic;
  cursor: pointer;
}
.react-paginate-custome .previous a {
  background-color: rgb(0, 0, 0, 0.1); /* Black w/opacity/see-through */
  border-radius: 10px;
  padding: 10px;
}
.react-paginate-custome .previous a:hover {
  background-color: rgb(255, 221, 238, 0.4); /* Fallback color */
  /* outline: solid 1px black; */
}
.react-paginate-custome .next a {
  background-color: rgb(0, 0, 0, 0.1); /* Black w/opacity/see-through */
  border-radius: 10px;
  padding: 10px;
}
.react-paginate-custome .next a:hover {
  background-color: rgb(255, 221, 238, 0.4); /* Fallback color */
  /* outline: solid 1px black; */
}
.react-paginate-custome li a[rel="canonical"] {
  display: none;
  border: 0;
}
.react-paginate-custome .disabled {
  display: none;
}

.product-button-link {
  /* Fallback color */
  /* background-color: rgb(0, 0, 0);  */
  /* Black w/opacity/see-through */
  /* background-color: rgba(0, 0, 0, 0.2);  */
  background-color: rgb(255, 221, 238, 0.4);
  border-radius: 10px;
  padding: 10px;
}
